{% extends 'traye1.html' %}

{% block content %}
<div class="w-50 mx-auto mt-5 h-50">
	<h2 class="data">
		<li style="color:black;">Our Journey is started from 1987 As an Accountant with  20 mb Hard Disk Computer and floppy drive are 1.20  mb and 1.44 mb.</li><br/>

		<li style="color:black;">This is the 1st PC in Bharat.</li><br/>

		<li style="color:black;">There is First  Wipro Company in Our Country.</li><br/>

		<li style="color:black;">We have worked with Jewellery, Chamicals, Watches, Textile, Agriculture,  Construction and engineering.</li><br/>

		<li style="color:black;">We have used Software Tally 4.5,Tally 7.2, Tally Erp 9, Tally prime,Ornate, Jewelwel, J soft alpha and  Zoho Book (Web-base).</li><br/>

		<li style="color:black;">We know Income-Tax, TDS, TCS, GST, RCM, e-way bill, e-invoice e-book.</li><br/>

		<li style="color:black;">We have good experience of Data Management and Data backup. We Never Lossed Data.</li><br/>

		<li style="color:black;">We have trained 60+ C.A. Stundents.</li><br/>

		<li style="color:black;">We Served our service in Lioness club of International.</li><br/>

		<li style="color:black;">We have Started Life Insurance Services From 1990.</li><br/>

		<li style="color:black;">In 2011 Started Real Estate business as Broker Buy - Sale- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rent</li><br/>

		<li style="color:black;text-align: justify;">Now,  We have good Experience of Accounts, Property,Life Insurance, Health Insurance, General insurance, Vehical insurance, Investment, Money Management and  Smart Investment.</li><br/>

		<li style="color:black;">Our all customer fully satisfied they respect today us.They are very happy from our services.</li><br/>

		<li style="color:black;">We provide all above services.</li><br/>
		<li style="color:black;">Contact us feel-free.</li><br/>
	</h2>	
</div>
{% endblock %}