{% extends 'traye1.html' %}

{% block content %}
<div class="w-50 mx-auto mt-5 h-50">
	<h1 style="color: black;">For any business type <br/><br/>

		Accounting worked  Sectors<br/><br/>

		<h3><li style="color: black;">Jewellers</li>
		<li style="color: black;">Textile</li>
		<li style="color: black;">Chamical</li>
		<li style="color: black;">Finance</li>
		<li style="color: black;">Watches</li>
		<li style="color: black;">Engineering</li>
		<li style="color: black;">Marble</li>
		<li style="color: black;">Construction</li>
		<li style="color: black;">Real Estate</li>
		<li style="color: black;">Share trading</li>
		<li style="color: black;">Comission</li>
		<li style="color: black;">Job-work</li>
		<li style="color: black;">Contract</li></h3><br/>

		<h1 style="color: black;">Software used Tally 4.5 to Tally Prime</h1>
		<h3><li style="color: black;">Zoho</li>
		<li style="color: black;">Ornate</li>
		<li style="color: black;">J-Soft alpha</li>
		<li style="color: black;">Jwelwel</li>
		<li style="color: black;">Jewelly</li>
		<li style="color: black;">Easy</li>


		<li style="color: black;">Data</li>
		<li style="color: black;">Data management</li>
		<li style="color: black;">Data analyseas</li>
		<li style="color: black;">Data backup 1.44 to Hdd</li>
		<li style="color: black;">Data safety</li>
		<li style="color: black;">No Loss data Since today</li></h3><br/>


		<h1 style="color: black;">Taxation knowledge</h1>
		<h3><li style="color: black;">Gst</li>
		<li style="color: black;">Gstr1</li>
		<li style="color: black;">Gstr2</li>
		<li style="color: black;">Gstr2A</li>
		<li style="color: black;">Gstr2B</li>
		<li style="color: black;">Gstr3B</li>
		<li style="color: black;">Gstr9</li>
		<li style="color: black;">All type of TDS</li>
		<li style="color: black;">TCS</li>
		<li style="color: black;">Income tax rule</li></h3><br/>
		<h1 style="color: black;">Tax defuction section 80 c & d Income Tax Return</h1>
</div>
{% endblock %}