{% extends 'traye1.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="w-50 mx-auto mt-5 h-50" style="text-align: center;">      

        <div class="info">
            <h3 style="color: black;">phone number</h3>
            <p style="color: black;">+91-9879838397</p>
        </div>

        <div class="info">
            <h3 style="color: black;">Email Address</h3>
            <p style="color: black;">shahashok1313@gmail.com</p>
        </div>

        <!--<div class="info">
            <i class="fa fa-map-marker" style="font-size:36px;color:black;"></i>
            <h3 style="color: black;">Office Address</h3>
            <p style="color: black;">Ahmedabad,Gujarat, India - 390024</p>
        </div>-->

        <div class="share">
            <a href="#" class="fa fa-facebook-square" style="font-size:48px;color:black;margin-right: 8px;"></a>
            <a href="#" class="fa fa-instagram" style="font-size:48px;color:black;margin-right: 8px;"></a>
            <a href="#" class="fa fa-twitter-square" style="font-size:48px;color:black;margin-right: 8px;"></a>
            <a href="#" class="fa fa-linkedin-square" style="font-size:48px;color:black;margin-right: 8px;"></a>
        </div>
</div>
{% endblock %}