{% extends 'traye1.html' %}

{% block content %}

<div class="w-50 mx-auto mt-5 h-50">
	<!--<h1 style="text-align: center;margin-bottom: 10px;">Insurance Service</h1>-->
	<h2 style="color: black;">
		<li>Life insurance(Family)</li><br/>

		<li>Accident insurance(Family)</li><br/>

		<li>Health insurance - Mediclaime(Family)</li><br/>

		<li>Property insurance(Home-Shop-office-Building-Flat)</li><br/>

		<li>Travelling insurance(Any persion)</li><br/>

		<li>Vehical insurance:	Activa, Bike,  Riksha, Scooter,car, Bus, Truck, cruse</li><br/>

		<li>Cash Transist insurace</li><br/>

		<li>Stock insurance( goods of your businee )</li><br/>
	</h1>
</div>

<div style="text-align: center;margin-top: 40px;text-decoration: underline;">
	<h1 style="color: black;">બચત, રોકાણ, સલામતી અને વધતી મૂડી</h1>
</div>

<div style="margin: 20px 55px 20px 220px; width: 70%;color: blacks;">
	<b>
	<h2 style="color: black;">ભવિષ્યમાં માનવી ઉપર આફત આવવાની છે તે કોઇપણ વ્યક્તિ જાણતું નથી. તેને કોઈ વ્યક્તિ ટાળી શક્યું નથી અને ટાળી શકવાનું પણ નથી. તે વિશે તો માત્ર કુદરત જ જાણે છે. આ એક સનાતન સત્ય છે.  જે આપણે બધા જાણીએ જ છીએ.</h2><br/><br/>

	<h2 style="color: black;">હા, ભવિષ્યમાં આવનારી આફત સામે લડવાની ક્ષમતા દરેક વ્યક્તિને ભગવાને આપેલ છે પણ જો બચત હોય તો !!!
	</h2><br/><br/>

	<h2 style="color: black;">જો નાની નાની બચતની ટેવ હશે તો તે વ્યકિત ભવિષ્યમાં આવનારી આફત સામે આરામથી લડી શકે છે, પોતાની ચાહીતી વ્યક્તિઓને આર્થિક રીતે સાલામત રાખી શકે છે અને આ જ બચતથી પોતાનાં લક્ષ્ય સુધી પહોંચી પણ શકે છે. પોતે હોય કે ના હોય પરંતું તેની ચાહીતી વ્યક્તિઓને આર્થિક સંકટથી બચાવી શકે છે.</h2><br/><br/>

	<h2 style="color: black;">આરામદાયક જીવન જીવવું હોય તો આપણે આપણી બચતને કોઈ સારી જગ્યાએ રોકાણ કરવું જોઈએ જેથી આપણી બચત પણ આપણા માટે કમાતી થાય. પરતું  આપણી બચત ૧૦૦% સાલામત રહેવી જોઈએ</h2><br/><br/>

	<h2 style="color: black;">શું આવી કોઈ રોકાણની કોઈ સ્કીમ છે ??? હા.</h2><br/><br/><br/>

	<h2 style="color: black;">ONLY LIFE INSURANCE CORPORATION OF INDIA (GOV.)</h2><br/><br/><br/>

	<h2 style="color: black;">૧૦૦% સલામત રોકાણ<br/>
		નાની ફીક્ષ બચત<br/>
		હપ્તે હપ્તે રોકાણ<br/>
		વધતો જતો સામાન્ય અને અકસ્માત (ડબલ) વીમાનું કવરેજ<br/>
		ફીક્ષ પેન્શન<br/>
		દર વર્ષે જમા થતું બોનસ<br/>
		વધતી જતી મૂડી<br/>
		૮% ફીક્ષ રીટર્ન<br/>
		૮૦ સી હેઠળ ઇન્કમટેક્ષમાં બાદ<br/>
		પેન્શન અને પાકતી મૂડી ઇન્કમટેક્ષ 100% ફ્રી<br/>
		જીવનની સાથે અને જીવન પછી પણ ફેમિલીનું આર્થિક કવચ </h2><br/><br/><br/>

	<h2 style="color: black;">ઈમૈલ અથવા વોટ્સેપ કરો.<br/>
		MOB.9879838397<br/>
		EMAIL ID. shahashok1313@gmail.com</h2>	<br/>
	</b>	
</div>

{% endblock %}