{% extends 'traye1.html' %}

{% block content %}
<div class="w-50 mx-auto mt-5 h-50">
	<h2 style="color: black;">1. Fix Deposit Interest per year 6%.<br/><br/>

		2. In Share market 5% persion will Be Earn and 95% persion Will be loss booked.<br/><br/>

		3. Mutual Fund 15% per year benifit But market will be crash any time And capital+ profit can be Loss.<br/><br/>

		4. Buy a property there is good Returns. But must big money.<br/><br/>

		5. buy gold it is cash any time but It must big money. There is rate Fluctuation.<br/><br/>

		6. Smart Investment It is best for small and big Invester.<br/><br/>
		    
		Investment must be 100% Secured because we save money With Labour.<br/><br/>

		No space for Loss to us in capital Invest with small installment.<br/><br/>
		Invest with life Insurance and Accident insurance.<br/><br/>
		Bonus credited in each year.Little amount invest with Installment. <br/><br/>
		It will be big Capital.<br/><br/>

		If we are on earth or not benifits
		Is fix here to us or our family.</h2>
</div>
{% endblock %}